body {
  margin: 0;
  padding: 0;
}

#migraine-logo .path {
  color: white;
}

p {
  margin-top: 50px;
  padding: 0;
  text-align: center;
  color: red;
  line-height: 0;
}

h2 {
  margin-top: 60px;
  padding: 0;
  text-align: center;
  font-size: 24px;
}

/*#profile h3,
#profile h2 {
  text-align: left;
  margin-top: 30px;
  margin-bottom: 10px;
  margin-left: 12px;
  font-size: 24px;
  padding: 10px 70px;
}*/

#profile .profile_set h3 {
  font-size: 24px;
  margin-top: 50px;
}

.profile_set {
  margin: 0 auto;
  width: 90%;
  line-height: 22px;
  position: relative;
}

.profile_set nav {
  position: absolute;
  top: 2px;
  right: 100px;
}

.profile_set nav li {
  float: none;
}

.profile_set a {
  color: #373d62;
  text-decoration: none;
}

/*#373857*/

li a {
  color: #373857;
}

header {
  position: relative;
  background-color: black;
  color: white;
}

header h1 {
  margin: 0px;
  padding: 10px 60px;
  background: transparent url("/img/icon.png") 10px 10px no-repeat;
  background-size: 40px;
  line-height: 40px;
  -webkit-font-smoothing: antialiased;
}

header h1 a {
  text-decoration: none;
  color: white;
}

header nav {
  position: absolute;
  top: 10px;
  right: 10px;
}

header nav ul {
  margin: 0;
  padding: 0;
}

header nav ul li {
  float: left;
  list-style: none;
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  padding: 0 10px;
  margin: 10px 0;
  border-right: 2px solid white;
}

header nav ul li:last-child {
  border-right: none;
}

header nav ul li a {
  color: white;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
}

form {
  width: 35%;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  border: 20px;
}

form input[type="submit"] {
	border: none;
  background-color: #373857;
  color: white;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: bold;
  line-height: 18px;
  border-radius: 3px;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -webkit-appearance: none;
  margin-top: 11px;
}

form input[type="text"],
form input[type="password"],
form input[type="number"],
form input[type="email"] {
  border: none;
  width: 100%;
  background-color: rgba(136, 138, 176, 0.33);
  color: black;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  border-radius: 3px;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -webkit-appearance: none;
}

fieldset {
  border: none;
  margin: 0 auto;
  padding: 10px 0;
}

fieldset label {
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  line-height: 22px;
  margin-top: 11px;
}

#dashboard {
  display: block;
  margin-left: auto;
  margin-right: auto
}

select {
  border: none;
  width: 20%;
  background-color: rgba(136, 138, 176, 0.33);
  color: black;
  font-size: 14px;
  border-radius: 3px;
  -webkit-font-smoothing: antialiased;
}

#sign_in {
  margin-bottom: 44px;
}

table {
  margin: 0 auto;
  line-height: 22px;
  width: 80%;
  font-size: 16px;
}

td,
tr {
border: 1px solid #0c090b;
font-weight: normal;
color: black;
padding: 1px 4px;
box-sizing: border-box;
margin: 0 auto;
-webkit-font-smoothing: antialiased;
}


th {
  text-align: left;
  border: 1px solid #0c090b;
  padding: 4px;
  -webkit-font-smoothing: antialiased;
  background-color: rgba(161, 170, 192, 0.1);
}

.action {
  text-align: center;
}

.error {
  display: block;
  margin-top: 50px;
  padding: 0;
  text-align: center;
  color: red;
  line-height: 0;
}

.success {
  display: block;
  margin-top: 50px;
  padding: 0;
  text-align: center;
  color: red;
  line-height: 0;
  color: green;
}
